@page "/xtc/vendor/unity"

@using System.ComponentModel
@using AntDesign.TableModels
@using Microsoft.AspNetCore.Components.Forms

<Card>
    <Form @ref="searchForm"
          Loading="searchLoading"
          Model="searchFormData"
          OnFinish="@onSearchSubmit">
        <Row Gutter="24">
            @for (var i = 0; i < (searchExpand ? searchFormData.Count : (searchFormData.Count < 3 ? searchFormData.Count : 3)); i++)
            {
                var index = i;
                <GridCol Span="8" @key="index">
                    <FormItem Label="@(context[index].Text)">
                        <Input @bind-Value="@(context[index].Value)" Placeholder="请输入" />
                    </FormItem>
                </GridCol>
            }
        </Row>
        <Row>
            <GridCol Span="24" Style="text-align:right;">
                <Button Type="primary" HtmlType="submit">查询</Button>
                <Button Style="margin: 0 8px;" OnClick="@onSearchResetClick">重置</Button>
                <!--
                <a style="font-size:12px" onclick="()=>{}">
                    <Icon Type="@(searchExpand?"up":"down")"></Icon>  Collapse
                </a>
                -->
            </GridCol>
        </Row>
    </Form>
</Card>

<Card Style="margin-top:24px">
    <div style="display:flex; margin-bottom:24px;">
        <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" OnClick="@onCreateClick">创建</Button>
    </div>
    <Table TItem="TableModel" DataSource="@tableModel" Total="@tableTotal" PageIndex="tablePageIndex" PageSize="tablePageSize" OnPageIndexChange="onPageIndexChanged">
        <PropertyColumn Title="名称" Property="c=>c.Entity.Name"></PropertyColumn>
        <PropertyColumn Title="备注" Property="c=>c.Entity.Display"></PropertyColumn>
        <PropertyColumn Title="锁定帧数" Property="c=>c.Entity.GraphicsFps"></PropertyColumn>
        <PropertyColumn Title="画面质量" Property="c=>c._GraphicsQuality"></PropertyColumn>
        <PropertyColumn Title="运行分辨率" Property="c=>c.Entity.GraphicsPixelResolution"></PropertyColumn>
        <PropertyColumn Title="UI设计分辨率" Property="c=>c._GraphicsReferenceResolution"></PropertyColumn>
        <PropertyColumn Title="适配权重" Property="c=>c.Entity.GraphicsReferenceResolutionMatch"></PropertyColumn>
        <PropertyColumn Title="过场界面背景图" Property="c=>c.Entity.SkinSplashBackground"></PropertyColumn>
        <PropertyColumn Title="过场界面标语图" Property="c=>c.Entity.SkinSplashSlogan"></PropertyColumn>
        <PropertyColumn Title="应用程序" Property="c=>c.Entity.Application"></PropertyColumn>
        <ActionColumn Title="操作" Fixed="right" Width="150">
            <Space Size=@("middle")>
                <SpaceItem>
                    <Button Size="small" OnClick="()=>onUpdateClick(context.Entity?.Uuid)">修改</Button>
                </SpaceItem>
                <SpaceItem>
                    <Button Size="small" Type="@ButtonType.Primary" OnClick="()=>onRunClick(context.Entity?.Uuid)">运行</Button>
                </SpaceItem>
                <SpaceItem>
                    <Popconfirm Title="确定要删除这个包吗?"
                                OnConfirm="@(()=>onConfirmDelete(context.Entity?.Uuid))"
                                OnCancel="onCancelDelete"
                                OkText="确定"
                                CancelText="取消">
                        <Button Danger Size="small">删除</Button>
                    </Popconfirm>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
</Card>

<Modal Title="创建"
       Visible="@visibleCreateModal"
       ConfirmLoading="@createLoading"
       OnOk="@onCreateModalOk"
       OnCancel="@onCreateModalCancel">
    <Form Model="@createModel"
          LabelColSpan="8"
          WrapperColSpan="16"
          OnFinish="onCreateSubmit"
          @ref="@createForm">
        <FormItem Label="名称">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem Label="备注">
            <Input @bind-Value="@context.Display" />
        </FormItem>
    </Form>
</Modal>

<Modal Title="更新"
       Visible="@visibleUpdateModal"
       ConfirmLoading="@updateLoading"
       OnOk="@onUpdateModalOk"
       OnCancel="@onUpdateModalCancel">
    <Form Model="@updateModel"
          LabelColSpan="8"
          WrapperColSpan="16"
          OnFinish="onUpdateSubmit"
          @ref="@updateForm">
        <FormItem Label="名称" Required>
            <Input @bind-Value="@context.Entity.Name" />
        </FormItem>
        <FormItem Label="备注">
            <Input @bind-Value="@context.Entity.Display" />
        </FormItem>
        <FormItem Label="画面质量">
            <AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsQuality" Min="0" Max="5"/>
        </FormItem>
        <FormItem Label="锁定帧数">
            <AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsFps" Min="30" Max="120" Step="30"/>
        </FormItem>
        <FormItem Label="运行分辨率">
            <Input @bind-Value="@context.Entity.GraphicsPixelResolution" />
        </FormItem>
        <FormItem Label="UI设计分辨率宽度">
            <AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsReferenceResolutionWidth" Min="0" />
        </FormItem>
        <FormItem Label="UI设计分辨率高度">
            <AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsReferenceResolutionHeight" Min="0" />
        </FormItem>
        <FormItem Label="UI设计分辨率适配权重">
            <AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsReferenceResolutionMatch" Max="1.0f" Min="0.0f" Step="0.1f" />
        </FormItem>

        <FormItem Label="过场界面背景图">
            <Input @bind-Value="@context.Entity.SkinSplashBackground" />
        </FormItem>
        <FormItem Label="过场界面标语图">
            <Input @bind-Value="@context.Entity.SkinSplashSlogan" />
        </FormItem>
        <FormItem Label="应用程序">
            <Input @bind-Value="@context.Entity.Application" />
        </FormItem>
    </Form>
</Modal>

<style>
    .card-search-col {
        margin-right: 64px;
        margin-bottom: 24px;
    }
</style>

@code {
    class Quality
    {
        public int Level { get; set; }
        public string Label { get; set; }
    }

    List<Quality> qualityS = new List<Quality>{
        new Quality{Level=0, Label="非常低"},
        new Quality{Level=1, Label="低"},
        new Quality{Level=2, Label="中"},
        new Quality{Level=3, Label="高"},
        new Quality{Level=4, Label="非常高"},
        new Quality{Level=5, Label="极高"},
    };
}

