@page "/xtc/vendor/unity"

@using System.ComponentModel
@using AntDesign.TableModels
@using Microsoft.AspNetCore.Components.Forms
@using XTC.FMP.MOD.Vendor.LIB.MVCS

<Card>
	<Form @ref="searchForm"
		  Loading="searchLoading"
		  Model="searchFormData"
		  OnFinish="@onSearchSubmit">
		<Row Gutter="24">
			@for (var i = 0; i < (searchExpand ? searchFormData.Count : (searchFormData.Count < 3 ? searchFormData.Count : 3)); i++)
			{
				var index = i;
				<GridCol Span="8" @key="index">
					<FormItem Label="@(context[index].Text)">
						<Input @bind-Value="@(context[index].Value)" Placeholder="请输入" />
					</FormItem>
				</GridCol>
			}
		</Row>
		<Row>
			<GridCol Span="24" Style="text-align:right;">
				<Button Type="primary" HtmlType="submit">查询</Button>
				<Button Style="margin: 0 8px;" OnClick="@onSearchResetClick">重置</Button>
				<!--
				<a style="font-size:12px" onclick="()=>{}">
					<Icon Type="@(searchExpand?"up":"down")"></Icon>  Collapse
				</a>
				-->
			</GridCol>
		</Row>
	</Form>
</Card>

<Card Style="margin-top:24px">
	<div style="display:flex; margin-bottom:24px;">
		@if (permissionS_.ContainsKey(Permissions.UnityCreate))
		{
			<Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" OnClick="@onCreateClick">创建</Button>
		}
	</div>
	<Table TItem="TableModel" DataSource="@tableModel" Total="@tableTotal" PageIndex="tablePageIndex" PageSize="tablePageSize" OnPageIndexChange="onPageIndexChanged">
		<PropertyColumn Title="名称" Property="c=>c.Entity.Name"></PropertyColumn>
		<PropertyColumn Title="备注" Property="c=>c.Entity.Display"></PropertyColumn>
		<PropertyColumn Title="运行分辨率" Property="c=>c.Entity.GraphicsPixelResolution"></PropertyColumn>
		<Column Title="环境" TData="string">
			@if (context._updateConfig.schema.body.frameworkUpdate.environment == "develop")
			{
				<Tag Color="magenta">开发</Tag>
			}
			else if (context._updateConfig.schema.body.frameworkUpdate.environment == "product")
			{
				<Tag Color="green">生产</Tag>
			}
		</Column>
		<Column Title="框架更新策略" TData="string">
			@if (context._updateConfig.schema.body.frameworkUpdate.strategy == "skip")
			{
				<Tag Color="green">跳过</Tag>
			}
			else if (context._updateConfig.schema.body.frameworkUpdate.strategy == "manaul")
			{
				<Tag Color="orange">手动</Tag>
			}
			else if (context._updateConfig.schema.body.frameworkUpdate.strategy == "auto")
			{
				<Tag Color="purple">自动</Tag>
			}
		</Column>
		<Column Title="资源聚合策略" TData="string">
			@if (context._updateConfig.schema.body.assetSyndication.strategy == "skip")
			{
				<Tag Color="green">跳过</Tag>
			}
			else if (context._updateConfig.schema.body.assetSyndication.strategy == "manaul")
			{
				<Tag Color="orange">手动</Tag>
			}
			else if (context._updateConfig.schema.body.assetSyndication.strategy == "auto")
			{
				<Tag Color="purple">自动</Tag>
			}
		</Column>
		<Column Title="模块" TData="string">
			<Tag Color="cyan">@context._dependencyConfig.schema.body.references.Length</Tag>
		</Column>
		<Column Title="插件" TData="string">
			<Tag Color="cyan">@context._dependencyConfig.schema.body.plugins.Length</Tag>
		</Column>
		<Column Title="应用程序" TData="string">
			@if (!string.IsNullOrEmpty(context.Entity.Application))
			{
				<Icon Type="check-circle" Theme="twotone" TwotoneColor="#52c41a" Height="2em" Width="2em" />
			}
		</Column>
		<ActionColumn Title="操作" Fixed="right" Width="150">
			<Space Size=@("middle")>
				<SpaceItem>
					<Button Size="small" OnClick="()=>onBrowseClick(context.Entity?.Uuid)">浏览</Button>
				</SpaceItem>
				@if (permissionS_.ContainsKey(Permissions.UnityUpdate))
				{
					<SpaceItem>
						<Button Size="small" OnClick="()=>onUpdateClick(context.Entity?.Uuid)">修改</Button>
					</SpaceItem>
				}
				<SpaceItem>
					<Button Size="small" Type="@ButtonType.Primary" OnClick="()=>onRunClick(context.Entity?.Uuid)">运行</Button>
				</SpaceItem>
				<!--
				<SpaceItem>
					<Button Size="small" OnClick="()=>onDownloadClick(context.Entity?.Uuid)">地址</Button>
				</SpaceItem>
				-->	
				@if (permissionS_.ContainsKey(Permissions.UnityDelete))
				{
					<SpaceItem>
						<Popconfirm Title="确定要删除这个虚拟环境吗?"
								OnConfirm="@(()=>onConfirmDelete(context.Entity?.Uuid))"
								OnCancel="onCancelDelete"
								OkText="确定"
								CancelText="取消">
							<Button Danger Size="small">删除</Button>
						</Popconfirm>
					</SpaceItem>
				}
			</Space>
		</ActionColumn>
	</Table>
</Card>

<Modal Title="创建"
	   Visible="@visibleCreateModal"
	   ConfirmLoading="@createLoading"
	   OnOk="@onCreateModalOk"
	   OnCancel="@onCreateModalCancel">
	<Form Model="@createModel"
		  LabelColSpan="8"
		  WrapperColSpan="16"
		  OnFinish="onCreateSubmit"
		  @ref="@createForm">
		<FormItem Label="名称">
			<Input @bind-Value="@context.Name" />
		</FormItem>
		<FormItem Label="备注">
			<Input @bind-Value="@context.Display" />
		</FormItem>
	</Form>
</Modal>

<Modal Title="更新"
	   Visible="@visibleUpdateModal"
	   ConfirmLoading="@updateLoading"
	   OnOk="@onUpdateModalOk"
	   OnCancel="@onUpdateModalCancel"
	   Width="1024">
	<Form Model="@updateModel"
		  LabelColSpan="8"
		  WrapperColSpan="16"
		  OnFinish="onUpdateSubmit"
		  @ref="@updateForm">
		<FormItem Label="名称" Required>
			<Input @bind-Value="@context.Entity.Name" />
		</FormItem>
		<FormItem Label="备注">
			<Input @bind-Value="@context.Entity.Display" />
		</FormItem>
		<FormItem Label="应用程序">
			<Input @bind-Value="@context.Entity.Application" />
		</FormItem>
		<Tabs>
			<TabPane Tab="图像设置" Key="1">
				<FormItem Label="画面质量">
					<Select @bind-Value="@context.Entity.GraphicsQuality"
							TItem="Quality"
							TItemValue="int"
							DataSource="@qualityS"
							ValueName="@nameof(Quality.Level)"
							LabelName="@nameof(Quality.Label)"
							Style="width:120px">
					</Select>
				</FormItem>
				<FormItem Label="锁定帧数">
					<AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsFps" Min="30" Max="120" Step="30" />
				</FormItem>
				<FormItem Label="运行分辨率">
					<Input @bind-Value="@context.Entity.GraphicsPixelResolution" />
				</FormItem>
				<FormItem Label="UI设计分辨率宽度">
					<AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsReferenceResolutionWidth" Min="0" />
				</FormItem>
				<FormItem Label="UI设计分辨率高度">
					<AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsReferenceResolutionHeight" Min="0" />
				</FormItem>
				<FormItem Label="UI设计分辨率适配权重">
					<AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsReferenceResolutionMatch" Max="1.0f" Min="0.0f" Step="0.1f" />
				</FormItem>
			</TabPane>
			<TabPane Tab="皮肤设置" Key="2">
				<FormItem Label="过场界面背景图">
					<Input @bind-Value="@context.Entity.SkinSplashBackground" AllowClear="true" />
				</FormItem>
				<FormItem Label="过场界面标语图">
					<Input @bind-Value="@context.Entity.SkinSplashSlogan" AllowClear="true" />
				</FormItem>
			</TabPane>
			<TabPane Tab="依赖设置" Key="3">
				<FormItem Label="环境">
					<Select @bind-Value="@context._updateConfig.schema.body.frameworkUpdate.environment"
							TItem="Environment"
							TItemValue="string"
							DataSource="@environmentS"
							ValueName="@nameof(Environment.Value)"
							LabelName="@nameof(Environment.Label)"
							Style="width:120px">
					</Select>
				</FormItem>
				<FormItem Label="更新策略">
					<Select @bind-Value="@context._updateConfig.schema.body.frameworkUpdate.strategy"
							TItem="UpdateStrategy"
							TItemValue="string"
							DataSource="@updateStrategyS"
							ValueName="@nameof(UpdateStrategy.Value)"
							LabelName="@nameof(UpdateStrategy.Label)"
							Style="width:120px">
					</Select>
				</FormItem>
				<FormItem Label="仓库地址">
					<Input @bind-Value="@context._updateConfig.schema.body.frameworkUpdate.repository" />
				</FormItem>
				<FormItem Label="模块">
					<TextArea @bind-Value="@context._dependencyReferencesInput" MinRows="1" DefaultToEmptyString=true AutoSize=true OnBlur="onDependencyBlur" />
				</FormItem>
				<FormItem Label="插件">
					<TextArea @bind-Value="@context._dependencyPluginsInput" MinRows="1" />
				</FormItem>
			</TabPane>
			<TabPane Tab="引导设置" Key="4">
				<FormItem Label="步骤">
					<TextArea @bind-Value="@context._bootloaderStepsInput" MinRows="1" />
				</FormItem>
			</TabPane>
			<TabPane Tab="资源配置" Key="5">
				<FormItem Label="更新策略">
					<Select @bind-Value="@context._updateConfig.schema.body.assetSyndication.strategy"
							TItem="UpdateStrategy"
							TItemValue="string"
							DataSource="@updateStrategyS"
							ValueName="@nameof(UpdateStrategy.Value)"
							LabelName="@nameof(UpdateStrategy.Label)"
							Style="width:120px">
					</Select>
				</FormItem>
				<FormItem Label="存储地址">
					<Input @bind-Value="@context._updateConfig.schema.body.assetSyndication.storage" />
				</FormItem>
				<Tabs>
					@foreach (var pair in context._rawModuleCatalogS)
					{
						<TabPane Key="@pair.Key" Tab="@pair.Key">
							<TextArea MinRows="5" @bind-Value="@pair.Value" DefaultToEmptyString AutoSize></TextArea>
						</TabPane>
					}
				</Tabs>
			</TabPane>
			<TabPane Tab="模块配置" Key="6">
				<Tabs>
					@foreach (var pair in context._rawModuleConfigS)
					{
						<TabPane Key="@pair.Key" Tab="@pair.Key">
							<TextArea MinRows="5" @bind-Value="@pair.Value" DefaultToEmptyString AutoSize></TextArea>
						</TabPane>
					}
				</Tabs>
			</TabPane>
			<TabPane Tab="主题配置" Key="7">
				<Tabs ActiveKeyChanged="@onThemeActiveKeyChanged">
					@foreach (var pair in context.Entity.ModuleThemes)
					{
						<TabPane Key="@pair.Key" Tab="@pair.Key">
							<InputFile id="content_fileInput" OnChange="@onUploadThemeFilesClick" hidden multiple />
							<Upload>
								<label class="ant-btn" for="content_fileInput">
									<Icon Type="upload" />
									上传
								</label>
							</Upload>
							@foreach (var file in uploadThemeFiles_)
							{
								@if (file.percentage == 100)
								{
									<Progress Percent="100" ShowInfo="false" Status="@ProgressStatus.Success"></Progress>
								}
								else
								{
									<Progress Percent="@file.percentage" ShowInfo="false" Status="@ProgressStatus.Active"></Progress>
								}
							}
							<Table DataSource="@pair.Value.EntityS" Context="theme_context">
								<PropertyColumn Property="c=>c.Url" Title="文件预览">
									<Image Width="96px" Src="@theme_context.Url" />
								</PropertyColumn>
								<PropertyColumn Property="c=>c.Path" Title="文件路径"></PropertyColumn>
								<PropertyColumn Property="c=>c.Size" Title="文件大小"></PropertyColumn>
							</Table>
						</TabPane>
					}
				</Tabs>
			</TabPane>
		</Tabs>
	</Form>
</Modal>

<Modal Title="浏览"
	   Visible="@visibleBrowseModal"
	   OnCancel="@onBrowseModalCancel"
	   Footer="null"
	   Width="1024">
	<Form Model="@updateModel"
		  LabelColSpan="8"
		  WrapperColSpan="16"
		  @ref="@updateForm">
		<FormItem Label="名称" Required>
			<Input @bind-Value="@context.Entity.Name" ReadOnly="true" />
		</FormItem>
		<FormItem Label="备注">
			<Input @bind-Value="@context.Entity.Display" ReadOnly="true" />
		</FormItem>
		<FormItem Label="应用程序">
			<Input @bind-Value="@context.Entity.Application" ReadOnly="true" />
		</FormItem>
		<FormItem Label="元数据地址">
			<Text>@getMetaAddress(context.Entity.Uuid)</Text>
		</FormItem>
		<Tabs>
			<TabPane Tab="图像设置" Key="1">
				<FormItem Label="画面质量">
					<Input @bind-Value="@qualityS[@context.Entity.GraphicsQuality].Label" ReadOnly="true" />
				</FormItem>
				<FormItem Label="锁定帧数">
					<AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsFps" Min="30" Max="120" Step="30" ReadOnly="true" />
				</FormItem>
				<FormItem Label="运行分辨率">
					<Input @bind-Value="@context.Entity.GraphicsPixelResolution" ReadOnly="true" />
				</FormItem>
				<FormItem Label="UI设计分辨率宽度">
					<AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsReferenceResolutionWidth" Min="0" ReadOnly="true" />
				</FormItem>
				<FormItem Label="UI设计分辨率高度">
					<AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsReferenceResolutionHeight" Min="0" ReadOnly="true" />
				</FormItem>
				<FormItem Label="UI设计分辨率适配权重">
					<AntDesign.InputNumber @bind-Value="@context.Entity.GraphicsReferenceResolutionMatch" Max="1.0f" Min="0.0f" Step="0.1f" ReadOnly="true" />
				</FormItem>
			</TabPane>
			<TabPane Tab="皮肤设置" Key="2">
				<FormItem Label="过场界面背景图">
					<Input @bind-Value="@context.Entity.SkinSplashBackground" AllowClear="true" ReadOnly="true" />
				</FormItem>
				<FormItem Label="过场界面标语图">
					<Input @bind-Value="@context.Entity.SkinSplashSlogan" AllowClear="true" ReadOnly="true" />
				</FormItem>
			</TabPane>
			<TabPane Tab="依赖设置" Key="3">
				<FormItem Label="环境">
					<Input @bind-Value="@environmentLabel" ReadOnly="true" />
				</FormItem>
				<FormItem Label="更新策略">
					<Input @bind-Value="@frameworkUpdateStrategyLabel" ReadOnly="true" />
				</FormItem>
				<FormItem Label="仓库地址">
					<Input @bind-Value="@context._updateConfig.schema.body.frameworkUpdate.repository" ReadOnly="true" />
				</FormItem>
				<FormItem Label="模块">
					<TextArea @bind-Value="@context._dependencyReferencesInput" MinRows="1" DefaultToEmptyString=true AutoSize=true ReadOnly="true" />
				</FormItem>
				<FormItem Label="插件">
					<TextArea @bind-Value="@context._dependencyPluginsInput" MinRows="1" ReadOnly="true" />
				</FormItem>
			</TabPane>
			<TabPane Tab="引导设置" Key="4">
				<FormItem Label="步骤">
					<TextArea @bind-Value="@context._bootloaderStepsInput" MinRows="1" ReadOnly="true" />
				</FormItem>
			</TabPane>
			<TabPane Tab="资源配置" Key="5">
				<FormItem Label="更新策略">
					<Input @bind-Value="@assetSyndicationStrategyLabel" ReadOnly="true" />
				</FormItem>
				<FormItem Label="存储地址">
					<Input @bind-Value="@context._updateConfig.schema.body.assetSyndication.storage" ReadOnly="true" />
				</FormItem>
				<Tabs>
					@foreach (var pair in context._rawModuleCatalogS)
					{
						<TabPane Key="@pair.Key" Tab="@pair.Key">
							<TextArea MinRows="5" @bind-Value="@pair.Value" DefaultToEmptyString AutoSize ReadOnly="true"></TextArea>
						</TabPane>
					}
				</Tabs>
			</TabPane>
			<TabPane Tab="模块配置" Key="6">
				<Tabs>
					@foreach (var pair in context._rawModuleConfigS)
					{
						<TabPane Key="@pair.Key" Tab="@pair.Key">
							<TextArea MinRows="5" @bind-Value="@pair.Value" DefaultToEmptyString AutoSize ReadOnly="true"></TextArea>
						</TabPane>
					}
				</Tabs>
			</TabPane>
			<TabPane Tab="主题配置" Key="7">
				<Tabs ActiveKeyChanged="@onThemeActiveKeyChanged">
					@foreach (var pair in context.Entity.ModuleThemes)
					{
						<TabPane Key="@pair.Key" Tab="@pair.Key">
							<Table DataSource="@pair.Value.EntityS" Context="theme_context">
								<PropertyColumn Property="c=>c.Url" Title="文件预览">
									<Image Width="96px" Src="@theme_context.Url" />
								</PropertyColumn>
								<PropertyColumn Property="c=>c.Path" Title="文件路径"></PropertyColumn>
								<PropertyColumn Property="c=>c.Size" Title="文件大小"></PropertyColumn>
							</Table>
						</TabPane>
					}
				</Tabs>
			</TabPane>
		</Tabs>
	</Form>
</Modal>

<style>
	.card-search-col {
		margin-right: 64px;
		margin-bottom: 24px;
	}
</style>

@code {
	class Quality
	{
		public int Level { get; set; }
		public string Label { get; set; }
	}

	List<Quality> qualityS = new List<Quality>{
		new Quality{Level=0, Label="非常低"},
		new Quality{Level=1, Label="低"},
		new Quality{Level=2, Label="中"},
		new Quality{Level=3, Label="高"},
		new Quality{Level=4, Label="非常高"},
		new Quality{Level=5, Label="极高"},
	};

	class Environment
	{
		public string Value { get; set; } = "";
		public string Label { get; set; } = "";
	}
	List<Environment> environmentS = new List<Environment>{
		new Environment{Value="product", Label="生产"},
		new Environment{Value="develop", Label="开发"},
	};

	class UpdateStrategy
	{
		public string Value { get; set; } = "";
		public string Label { get; set; } = "";
	}
	List<UpdateStrategy> updateStrategyS = new List<UpdateStrategy>{
		new UpdateStrategy{Value="skip", Label="跳过"},
		new UpdateStrategy{Value="auto", Label="自动"},
		new UpdateStrategy{Value="manaul", Label="手动"},
	};

	ListGridType listGrid = new ListGridType { Gutter = 16, Column = 4 };

	string environmentLabel
	{
		get
		{
			foreach (var e in environmentS)
			{
				if (e.Value == updateModel._updateConfig.schema.body.frameworkUpdate.environment)
					return e.Label;
			}
			return "";
		}
		set
		{

		}
	}

	string frameworkUpdateStrategyLabel
	{
		get
		{
			foreach (var e in updateStrategyS)
			{
				if (e.Value == updateModel._updateConfig.schema.body.frameworkUpdate.strategy)
					return e.Label;
			}
			return "";
		}
		set
		{

		}
	}

	string assetSyndicationStrategyLabel
	{
		get
		{
			foreach (var e in updateStrategyS)
			{
				if (e.Value == updateModel._updateConfig.schema.body.assetSyndication.strategy)
					return e.Label;
			}
			return "";
		}
		set
		{

		}
	}

	private string getMetaAddress(string _uuid)
	{
		string uri = string.Format("http://minio.xtech.cloud/fmp.vendor/unity/{0}.json", _uuid);
		return uri;
	}
}

